<nav class="header" class="navbar navbar-expand px-2" style=" background-color: #f36812">
  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
    <i class="fa-solid {{menuStatus ? 'fa-circle-chevron-left' : 'fa-circle-chevron-right'}}"></i>
  </div>
  <a class="navbar-brand px-4" style="color: antiquewhite;" href="#">
      <div class="dragon">
        GESTOR DE PROYECTOS
      </div>
    
  </a> 

  <div class="navbar-collapse d-flex ml-auto" *ngIf="validarUser|async as user">
    <i class="fas fa-user" class="text-white"></i>
    
  </div>

</nav>
