
<gsv-title></gsv-title>


<div class="side-nav-content">
  <div class="blurry-background"></div>

  <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4">
    <div class="col mb-4" *ngFor="let list of listaMenu">
      <div class="card h-100">
        <a [routerLink]="list.url" class="card-header">
          <div>
            <i class="{{ list.icon }}"></i>
            <h5 class="card-title">{{ list.title }}</h5>
          </div>
          <h3>Ver mas 
            <i class="bi bi-box-arrow-left"></i>
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>
<img style="height: 550px;" src="https://img.freepik.com/foto-gratis/senora-negocios-marketing-camisa-rayas-oficina-computadora-senalando-esquemas_140725-165421.jpg?w=1060&t=st=1686944211~exp=1686944811~hmac=b5323783d794867a13bc58f92ac3dd9086d2b8213210aa9c8b37fab3a7dbc3f5" alt="">
